.chart {
	padding: var(--spacing-xl);
	position: relative;
	overflow: visible;
	display: flex;
	align-items: flex-end;
	background-color: var(--color-surface-subtle);
}

.chart__svg {
	width: 100%;
	height: 100%;
	overflow: visible;
}

.chart__grid {
	stroke: var(--color-brand-subtle);
	stroke-width: 1;
	width: 100%;
}
