.button--primary {
	background-color: var(--primary);
	color: white;
}

.button--secondary {
	background-color: var(--secondary);
	color: white;
}

.button--success {
	background-color: var(--success);
	color: white;
}

.button--danger {
	background-color: var(--danger);
	color: white;
}
