.text {
	font-size: var(--font-size-md);
	line-height: var(--line-height-md);
	font-weight: var(--font-weight-md);
}

.bold {
	font-weight: var(--font-weight-bold);
}

.italic {
	font-style: italic;
}
