@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 252 252 252;
    --contrast: 5 5 5;
  }

  .dark {
    --primary: 5 5 5;
    --contrast: 252 252 252;
  }
}

@layer base {
  body {
    @apply bg-primary text-contrast;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
