.chart-line-item__point {
	r: 1.5;
	fill: var(--color-brand-base);
	transition: r var(--transitions-fast);
}

.chart-line-item__point:hover {
	r: 2.5;
}

.chart-line-item__label {
	fill: var(--color-surface-text);
	font-size: var(--typography-detail-size);
	font-family: inherit;
}
