.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-surface-subtle);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.content {
	background-color: var(--color-surface-base);
	color: var(--color-surface-text);
	border: var(--border-width-sm) solid var(--color-border-base);
	border-radius: var(--radius-rounded);
	padding: var(--spacing-md);
	box-shadow: var(--shadow-sm);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
	justify-content: space-between;
	max-width: 90%;
	max-height: 90vh;
	min-width: 300px;
	min-height: 300px;
	overflow-y: auto;
}
