.chart-bar-item__fill {
	fill: var(--color-brand-base);
	transition: height var(--transition-normal) var(--animation-quick-timing);
}

.chart-bar-item__fill:hover {
	fill: var(--color-brand-focus);
}

.chart-bar-item__label {
	font-size: 0.25rem;
	fill: var(--color-surface-text);
	font-family: inherit;
}
